@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --textColor:#343434;
    --headerFont:"Poltawski Nowy", serif;
    --orangeColor:#FF9C73;
    --normalTextFont:"Poppins", serif;
    --pageBG :#FFFFFF;
    --orangeText:#DE7E00;
    --accpageBG:#F1ECE6;
}
body
{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
a
{
    text-decoration: none;
}
li
{
    text-decoration: none;
    list-style: none;
}
.nav-items
{
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
    align-items: center;
    z-index: 3;
}
.nav-links
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
p
{
    margin: 0;
    padding: 0;
}
h1,h2 ,h3, h4 ,h5 ,h6{
    margin: 0;
    padding: 0;
}
.logo img
{
    width: 50px;
}
header
{
    padding: 10px;
}
.nav-items .contact
{
    color: var(--textColor);
    font-family: var(--normalTextFont);
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
}
.nav-links a
{
    font-family: var(--normalTextFont);
    color: var(--textColor);
    text-transform: capitalize;
    font-size: 12px;
}
.nav-items h4
{
    background: var(--orangeColor);
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #343434;
}
.home
{
    height: 100vh;
    background-image: url(./images/heroBG.jpeg);
    /* background-image: linear-gradient(90deg, rgba(6,6,6,1) 0%, rgba(14,14,14,0.9866071428571429) 57%, rgba(14,14,14,0.4011729691876751) 100%), url(./images/heroBG.jpeg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    position: relative;
    z-index: 3;
    /* color: #000; */
}
.blend
{
    position: absolute;
    z-index: -1;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(252, 252, 252, 0.927) 70%, rgba(247,250,251,0.15115914786967422) 100%);
    height: 100vh;
    width: 100%;
}
.centerText 
{
    text-transform: capitalize;
    color: var(--textColor);
    max-width: 90%;
    padding: 50px;
    margin-top: 5%;
}
.centerText h1
{
    font-size: 50px;
    font-family: var(--headerFont);
    max-width: 60%;
    line-height: 45px;
    font-weight: 300;
}
.centerText p
{
    font-family: var(--normalTextFont);
    font-size: 15px;
    line-height: 23px;
    max-width: 57%;
    margin-top: 1.5%;
}
.impact
{
    /* height: 60vh; */
    /* background: red; */
    background-color: var(--pageBG);
    font-family: var(--normalTextFont);
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    padding: 2%;
}
.image
{
    width: 50%;
    height: 55vh;
    background: url(./images/sideImg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    position: relative;
    border-radius: 5px;
    border: 1px solid #343434;
}
.impactText
{
    max-width: 60%;
}
.impactText span
{
    color: var(--orangeText);
}
.impactText h1
{
    font-size: 50px;
    font-weight: 400;
   /* max-width: 90%; */
}
.impactText p
{
    font-size: 15px;
}
/* about us */
.about
{
    /* height: 100vh; */
    background: var(--pageBG);
    font-family: var(--normalTextFont);
    color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.aboutContainer
{
    padding: 5%;
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: space-between;
}
.aboutSideImages
{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.imgOne
{
    height: 65vh;
    width: 30%;
    border-radius: 10px;
    border: 1px solid #343434;
}
.small
{
    background: url(./images/one.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.smallTwo
{
    background: url(./images/three.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.imgMain
{
    background: url(./images/two.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    border: 1px solid #343434;
    height: 75vh;
    border-radius: 10px;
}
.aboutText h1
{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 20px;
}
.aboutText
{
    width: 45vw;
}
.aboutText p
{
    font-size: 15px;
    max-width: 83%;
}
.communityBtn
{
    padding: 10px 30px;
    background: var(--orangeColor);
    border-radius: 5px;
    border: 1px solid #343434;
    width: fit-content;
    margin-top: 40px;
}
.communityBtn a
{
    color: var(--textColor);
    font-weight: 400;
    font-size: 13px;
    text-transform: capitalize;
}
/* about us */
.mission
{
    background: var(--pageBG);
    padding: 1%;
}
.missionContainer
{
    border-radius: 5px;
    background: url(./images/missionBG.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--normalTextFont);
    color: var(--pageBG);
    padding: 5%;
    text-align: center;
    background-blend-mode: overlay;
    background-color: #343434;
}
.missionContainer h1
{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 30px;
}
.missionContainer p
{
    font-size: 15px;
    font-weight: 400;
}
/* vission */
.Vision
{
    border-radius: 5px;
    background: url(./images/vissionBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--normalTextFont);
    color: var(--textColor);
    padding: 5%;
    background-blend-mode: overlay;
    background-color: #ffffffc0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Vision h1
{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 30px;
}
.Vision p
{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}
/* goals */
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }
    @keyframes customAni {
      0% {
        transform: translateX(0);
        }
      
        100% {
        transform: translateX(30px);
        }
      }
.goals
{
    background: #F1ECE6;
    /* background: var(--pageBG); */
    font-family: var(--normalTextFont);
    color: var(--textColor);
    text-align: center;
    padding: 2%;
    /* display: none; */
}
.goals h1
{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
}
@keyframes customAni {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }
  
.goals .start
{
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 30px;
    animation: customAni 5s cubic-bezier(0.32, 0, 0.67, 0) 5s infinite normal none;
}
.swiper {
    width: 240px;
    height: 320px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 400px;
    padding: 10px;
  }



  .goal-card
{
  background: var(--pageBG);
  color:var(--textColor);
  padding: 10px;
  width: 90%;
  height: 95%;
  border-radius: 10px;
}

.goal-header
{
  display: flex;
  align-items: center;
  gap: 20px;
 }
 .goal-header h4
 {
  font-size: 15px;
  font-weight: 300;
  animation: customAni 2s cubic-bezier(0.65, 0, 0.35, 1) 0s 1 normal none;
 }
 .goal-text p
 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 30px;
 }
 /* achievements */
 .accomplishments
 {
    background: var(--accpageBG);
 }
.accomplishmentsText
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 5%;
    font-family: var(--normalTextFont);
    color: var(--textColor);
    padding-top: 3%;
}
.accomplishmentsText p
{
    font-size: 50px;
    font-weight: 700;
    max-width: 70%;
}
.accomplishmentsImg
{
    width: 50%;
    height: 45vh;
    background: url(./images/two.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: 1px solid #343434;
}
 /* cards */
 .cards-flex {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* width: 100%; */
    gap: 20px;
    width: 95%;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-top: 10px;
    /* width: 100%; */
    padding: 10px;
  }
  .card {
    background: var(--pageBG);
    height: 300px;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #343434;
    border-radius: 10px;
  }
  .card-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    width: 100%;
  }
  .card-image img
  {
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
  }
  .card p {
    font-size: clamp(30%, 60%, 60%);
    text-transform: capitalize;
    font-weight: 500;
    font-family: var(--normalTextFont);
    /* line-height: 14px; */
  }
  